<mat-toolbar>
  <span><img style="width: 52px;margin-right: 10px;" src="https://assets.stickpng.com/images/5ede4a3fb760540004f2c5e9.png"></span>
  <span class="font-icon">KIMETSU NO YAIBA</span>

<div class="space">
  <a mat-button href="#"> <span class="font-icon">Home</span> </a>
  <a mat-button href="#"> <span class="font-icon">Story</span> </a>
  <a mat-button href="#"> <span class="font-icon">Episodes</span> </a>
  <a mat-button href="#"> <span class="font-icon">Videos</span> </a>
  <a mat-button href="#"> <span class="font-icon">Logout</span> </a>

  <mat-slide-toggle (toggleChange)="switchTheme()">Light Mode</mat-slide-toggle>
</div>
</mat-toolbar>
<div class="box">
<div class="fxLayout" style="flex-direction: row;justify-content: left;margin: 50px;">

  <div class="row">
    <div class="col-4">
      <span><img style="width: 350px;height: 350px;" src="https://cms.dmpcdn.com/moviearticle/2022/02/09/edce5510-8989-11ec-a218-5f0dadf81b6d_webp_original.jpg" ></span>
    </div>
    <div class="col-8">
      <div class="row">
      <h2 class="header"><span class="font-thai"> KIMETSU NO YAIBA ภาคย่านเริงรมย์ </span> </h2>
      <p class="paragraph"><span class="font-thai"> “ย่านเริงรมย์โยชิวาระ” สถานที่อโคจรชื่อดังในสมัยอดีตของญี่ปุ่น ซึ่งเป็นสถานที่ที่มีอยู่จริงๆมาตั้งแต่ยุคเอโดะ <br> และย่านเริงรมย์นี้เป็นสถานที่ที่มีเรื่องราวมากมายของชายหนุ่มทั้งหลายขี้เหงาอยากหาที่ระบาย และหญิงสาวมากหน้าหลายตา <br> ที่ไม่อาจหวนกลับได้
        จริงๆแล้ว คำว่า โยชิวาระ คือสถานที่ๆเรียกกันรวมๆมากกว่า ไม่ว่าจะอยู่ที่ไหนๆ คนญี่ปุ่นก็เรียกโยชิวาระได้หมดเลย <br> แต่ที่ถูกต้องจริงๆ และขึ้นชื่อชนิดเป็นแดนสวรรค์ มีเพียงสามที่เท่านั้น ได้แก่ ชิมาบาระ ในเกียวโต เมืองหลวงเก่าแก่ของญี่ปุ่น / ชินมาจิ <br> ในหัวเมืองใหญ่อย่างโอซาก้า และ ย่าน โยชิวาระ ในเอโดะ หรือโตเกียวในปัจจุบัน<br>
        ที่มาของย่านนี้ เกิดในช่วงยุคสมัยของ โทกุกาวะ ฮิเดทาดะ (ราวๆปี ค.ศ. 1617)  รัฐบาลบาคุฟุ ได้มีการจัดร่างกฎหมายสถานเริงรมย์ ให้เหล่านางโลม สถานบันเทิงที่เกี่ยวข้อง ต้องย้ายไปอยู่ในที่เดียวกัน เพื่อสะดวกต่อการดูแลจัดการ ทั้งในด้านความปลอดภัย และภาษี
        ทำให้ซ่องนางโลมที่ใครนึกอยากจะเปิดก็เปิดเกลื่อนเมืองแบบยุคก่อนๆ ไม่สามารถทำได้อีกต่อไป
        ฟังดูเหมือนจะเป็นกฎหมายเอื้อนายทุนไม่กี่คนที่เป็นเจ้าของกิจการย่านบันเทิงกามรมย์ชั้นสูง แต่ที่จริงแล้ว เป็นการนำเอาสถานที่ๆมักจะเป็นปัญหาการเมืองมารวบไว้ที่เดียว เพราะหลายครั้ง การก่อกบฏ การสุมหัวตั้งซ่องโจร หรือการประชุมวางแผนโค่นอำนาจการปกครอง นั้น หลายๆครั้งมักจะเริ่มที่ย่านนางโลมเหล่านี้
      </span></p>
    </div>
    </div>
  </div>
</div>
</div>
<div class="box">
<div class="fxLayout" style="flex-direction: row;justify-content: left;margin: 50px;">
  <div class="row">
    <div class="col-7">
      <iframe width="720" height="320" src="https://www.youtube.com/embed/Jd_B6ox3qGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-5">
      <div class="row">
        <h2 class="header"> <span class="font-thai"> เนื้อเรื่อง </span></h2>
        <p class="paragraph"> <span class="font-thai"> เนื้อเรื่องของดาบพิฆาตอสูรเล่ม 9 เริ่มต้นกับบท ‘แผนแทรกซึมเข้าย่านเริงรมย์’ หากใครเคยอ่านบทความของ NIHON STORIES ก่อนหน้านี้ที่เล่าถึงประวัติศาสตร์ของดินแดนต้องห้ามโยชิวาระ จะรู้กันดีว่าบุรุษที่ต้องการเข้าเมืองนั้นไม่สามารถพกอาวุธ หรือเดินดุ่ม ๆ ไม่ดูตาม้าตาเรือเข้าย่านนี้ได้ หากจะทำอะไรบางอย่างนอกเหนือเพลิดเพลินกับสาวงามในโยชิวาระ ทุกอย่างต้องวางแผนไว้อย่างรอบคอบก่อนเสมอ </span> </p>
      </div>
    </div>
  </div>
</div>
</div>

